<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Welcome to my Website</h1>
</header>
<!--<img class="centered-image" src="images/javaimage.jpg" >-->3

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/loginpage">Login</a></li>
        <li><a href="/registerpage">Register</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</nav>

<footer>
    <p>&copy; 2024 Your Website. All rights reserved.</p>
</footer>
</body>
</html>
